In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('medicines.csv')

In [3]:
df.shape

(23504, 6)

In [4]:
df.sample(10)

,Medicine Name,Type,Brand,Strength,Generic,Price
21191,Betanol,Tablet,Synovia Pharma PLC.,100 mg,Atenolol,Unit Price : ৳ 1.37
15248,Proflam Lido,Injection,Novo Healthcare and Pharma Ltd.,(75 mg+20 mg)/2 ml,Diclofenac Sodium + Lidocaine Hydrochloride,2 ml ampoule : ৳ 15.05
2802,Arotril,Tablet,Aristopharma Ltd.,0.5 mg,Clonazepam,Unit Price : ৳ 7.00
10035,Prolimus,Ointment,Healthcare Pharmaceuticals Ltd.,0.03%,Tacrolimus Monohydrate (Topical),30 gm tube : ৳ 450.00
3388,Lexnil,Tablet,Asiatic Laboratories Ltd.,3 mg,Bromazepam,Unit Price : ৳ 4.00
19453,Neocliz,Tablet,Silco Pharmaceutical Ltd.,25 mg+50 mg,Meclizine + Pyridoxine,Unit Price : ৳ 3.00
4807,Relye,Eye Drop,Biopharma Limited,0.09%,Bromfenac Sodium,5 ml drop : ৳ 110.00
14400,Eytob,Eye Drop,Navana Pharmaceuticals Ltd.,0.30%,Tobramycin (Ophthalmic),5 ml drop : ৳ 95.00
19157,Vass,Tablet,SANDOZ (A Novartis Division),10 mg,Atorvastatin Calcium,Unit Price : ৳ 12.10
18857,Cepime,Injection,Rephco Pharmaceuticals Ltd.,1 gm/vial,Cefepime Hydrochloride,1 gm vial : ৳ 550.00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23504 entries, 0 to 23503
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Medicine Name  23504 non-null  object
 1   Type           23504 non-null  object
 2   Brand          23504 non-null  object
 3   Strength       22568 non-null  object
 4   Generic        23504 non-null  object
 5   Price          23504 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [6]:
df.isnull().sum()

Medicine Name      0
Type               0
Brand              0
Strength         936
Generic            0
Price              0
dtype: int64

In [7]:
df.describe()

,Medicine Name,Type,Brand,Strength,Generic,Price
count,23504,23504,23504,22568,23504,23504
unique,15326,77,210,1183,1841,4519
top,Etoricoxib,Tablet,Incepta Pharmaceuticals Ltd.,500 mg,Cefixime Trihydrate,Unit Price : ৳ 10.00
freq,10,11422,1438,1317,371,961

In [8]:
df.duplicated().sum()

187